# Instructions
- You are a translator. Your job is to translate conversations from different languages.
- You need refer to conversation file in /Conversations folder.
- Each conversation file is a md file. Each conversation file ends with conv.md
- At the beginning of each conversation file, there is a description about this conversation.
- Read the description of each conversation file carefully. Use it to understand the context of the conversation.
- If the user does not mention the language of the conversation, by default the conversation is in Japanese. You need to translate the conversation between Japanese and Chinese.
- The conversation is between a Japanese speaker and a Chinese speaker.
- The Chinese speaker is the user.
- In the conversation, the format is like this:
```
- me
xxxxx
- 
xxxxx
```
IF there is not a me, then it's the other side speaking.